# Trabajo 4: Competencia de modelos de Predicción para el número de vehículos registrados

Esteban Rojas Henao, Sergio Andrés Zambrano, Miguel Angel Rojas

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import io

from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
from sklearn.metrics import r2_score
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten

# Lectura de datos

In [2]:
#Lectura del archivo
from google.colab import files
uploaded = files.upload()

 
df = pd.read_excel(io.BytesIO(uploaded['registros_autos_entrenamiento.xlsx']))

Saving registros_autos_entrenamiento.xlsx to registros_autos_entrenamiento.xlsx

In [3]:
df

          Fecha  Unidades
0    2012-01-01       0.0
1    2012-01-02     188.0
2    2012-01-03     482.0
3    2012-01-04     927.0
4    2012-01-05    1159.0
...         ...       ...
2187 2017-12-27    2102.0
2188 2017-12-28    3449.0
2189 2017-12-29    1084.0
2190 2017-12-30      18.0
2191 2017-12-31       0.0

[2192 rows x 2 columns]

# Características

Los datos leídos están compuestos por dos columnas: Fecha y Unidades.

Fecha: fecha en la que se registraron cierta cantidad de autos en el RUNT.

Unidades: cantidad de vehículos registrados en el Registro Único Nacional de Tránsito (RUNT).


Como se necesita hacer filtros por años, se saca otra columna con la funcion get_year que devuelve el año,tambien para dia (get_day) y mes (get_month).

In [4]:
def get_day(dt):
    return dt.day

def get_month(dt):
    return dt.month
 
def get_year(dt):
    return dt.year
 
def database(df):
  df['Fecha'] = df['Fecha'].map(pd.to_datetime)
  df['Dia'] = df['Fecha'].map(get_day)
  df['Mes'] = df['Fecha'].map(get_month)
  df['Year'] = df['Fecha'].map(get_year)
  return df

database(df)

          Fecha  Unidades  Dia  Mes  Year
0    2012-01-01       0.0    1    1  2012
1    2012-01-02     188.0    2    1  2012
2    2012-01-03     482.0    3    1  2012
3    2012-01-04     927.0    4    1  2012
4    2012-01-05    1159.0    5    1  2012
...         ...       ...  ...  ...   ...
2187 2017-12-27    2102.0   27   12  2017
2188 2017-12-28    3449.0   28   12  2017
2189 2017-12-29    1084.0   29   12  2017
2190 2017-12-30      18.0   30   12  2017
2191 2017-12-31       0.0   31   12  2017

[2192 rows x 5 columns]

In [5]:
df.head()

       Fecha  Unidades  Dia  Mes  Year
0 2012-01-01       0.0    1    1  2012
1 2012-01-02     188.0    2    1  2012
2 2012-01-03     482.0    3    1  2012
3 2012-01-04     927.0    4    1  2012
4 2012-01-05    1159.0    5    1  2012

Para las predicciones de los días comprendidos entre el 01/01/2012 y el 31/12/2017.

In [6]:
inicio_2012_2017 = dt.date(2012,1,1)
fin_2012_2017 = dt.date(2017,12,31)
df_2012_2017 = pd.DataFrame({'Fecha': pd.date_range(inicio_2012_2017, fin_2012_2017,freq='d')})
df_2012_2017 = database(df_2012_2017)
df_2012_2017

          Fecha  Dia  Mes  Year
0    2012-01-01    1    1  2012
1    2012-01-02    2    1  2012
2    2012-01-03    3    1  2012
3    2012-01-04    4    1  2012
4    2012-01-05    5    1  2012
...         ...  ...  ...   ...
2187 2017-12-27   27   12  2017
2188 2017-12-28   28   12  2017
2189 2017-12-29   29   12  2017
2190 2017-12-30   30   12  2017
2191 2017-12-31   31   12  2017

[2192 rows x 4 columns]

Para las predicciones de los días comprendidos entre el 01/01/2018 y el 30/06/2018.

In [7]:
inicio_2018 = dt.date(2018,1,1)
fin_2018 = dt.date(2018,6,30)
df_2018 = pd.DataFrame({'Fecha': pd.date_range(inicio_2018, fin_2018,freq='d')})
df_2018 = database(df_2018)
df_2018

         Fecha  Dia  Mes  Year
0   2018-01-01    1    1  2018
1   2018-01-02    2    1  2018
2   2018-01-03    3    1  2018
3   2018-01-04    4    1  2018
4   2018-01-05    5    1  2018
..         ...  ...  ...   ...
176 2018-06-26   26    6  2018
177 2018-06-27   27    6  2018
178 2018-06-28   28    6  2018
179 2018-06-29   29    6  2018
180 2018-06-30   30    6  2018

[181 rows x 4 columns]

In [8]:
predict_2018 = df_2018.drop(['Fecha'], axis=1)
predict_2018

     Dia  Mes  Year
0      1    1  2018
1      2    1  2018
2      3    1  2018
3      4    1  2018
4      5    1  2018
..   ...  ...   ...
176   26    6  2018
177   27    6  2018
178   28    6  2018
179   29    6  2018
180   30    6  2018

[181 rows x 3 columns]

In [9]:
predict_2012_2017 = df_2012_2017.drop(['Fecha'], axis=1)
predict_2012_2017

      Dia  Mes  Year
0       1    1  2012
1       2    1  2012
2       3    1  2012
3       4    1  2012
4       5    1  2012
...   ...  ...   ...
2187   27   12  2017
2188   28   12  2017
2189   29   12  2017
2190   30   12  2017
2191   31   12  2017

[2192 rows x 3 columns]

# Entrenamiento y validación

Para entrenamiento se toma toda la información hasta el 31 de diciembre de 2016 y para validación todo el año 2017

Entrenamiento: entre 01/01/2012 y 31/12/2016.

Validación: entre 01/01/2017 y 31/12/2017.

In [10]:
df_training = df[df['Year'] <= 2016].drop(['Fecha'], axis=1)
training = df_training.drop(['Unidades'], axis=1)
training_target = df_training['Unidades']
print(training)
training_target

      Dia  Mes  Year
0       1    1  2012
1       2    1  2012
2       3    1  2012
3       4    1  2012
4       5    1  2012
...   ...  ...   ...
1822   27   12  2016
1823   28   12  2016
1824   29   12  2016
1825   30   12  2016
1826   31   12  2016

[1827 rows x 3 columns]

0          0.0
1        188.0
2        482.0
3        927.0
4       1159.0
         ...
1822    1922.0
1823    2409.0
1824    3603.0
1825     965.0
1826      46.0
Name: Unidades, Length: 1827, dtype: float64

In [11]:
df_validation = df[df['Year'] == 2017].drop(['Fecha'], axis=1)
validation = df_validation.drop(['Unidades'], axis=1)
validation_target = df_validation['Unidades']
print(validation)
validation_target

      Dia  Mes  Year
1827    1    1  2017
1828    2    1  2017
1829    3    1  2017
1830    4    1  2017
1831    5    1  2017
...   ...  ...   ...
2187   27   12  2017
2188   28   12  2017
2189   29   12  2017
2190   30   12  2017
2191   31   12  2017

[365 rows x 3 columns]

1827       0.0
1828      45.0
1829     116.0
1830     232.0
1831     455.0
         ...
2187    2102.0
2188    3449.0
2189    1084.0
2190      18.0
2191       0.0
Name: Unidades, Length: 365, dtype: float64

In [12]:
df_validation = df[df['Year'] == 2017].drop(['Fecha'], axis=1)
validation = df_validation.drop(['Unidades'], axis=1)
validation_target = df_validation['Unidades']
print(validation)
validation_target

      Dia  Mes  Year
1827    1    1  2017
1828    2    1  2017
1829    3    1  2017
1830    4    1  2017
1831    5    1  2017
...   ...  ...   ...
2187   27   12  2017
2188   28   12  2017
2189   29   12  2017
2190   30   12  2017
2191   31   12  2017

[365 rows x 3 columns]

1827       0.0
1828      45.0
1829     116.0
1830     232.0
1831     455.0
         ...
2187    2102.0
2188    3449.0
2189    1084.0
2190      18.0
2191       0.0
Name: Unidades, Length: 365, dtype: float64

# Modelos
Se prueban varios modelos para escoger el mejor en predecir el número de vehículos registrados.

# Modelo usando Regresión Lineal

Se entrena y se valida el modelo.

In [13]:
regr_model = linear_model.LinearRegression()
regr_model.fit(training, training_target)
y_predicted_r = regr_model.predict(training)
r2_training_r = r2_score(training_target, y_predicted_r)
r2_training_r

0.060974189310455396

In [14]:
y_validation_r = regr_model.predict(validation)
r2_validation_r = r2_score(validation_target, y_validation_r)
r2_validation_r

0.10129579125537447

In [15]:
r2_training_r - r2_validation_r

-0.04032160194491907

# Modelo usando Bosques Aleatorios

Se entrena y se valida el modelo.

In [16]:
#defining the RandomForestRegressor
RF_model=RandomForestRegressor()
 
RF_model.fit(training,training_target)
#testing
y_predicted_rf = RF_model.predict(training)
r2_training_rf = r2_score(training_target, y_predicted_rf)
r2_training_rf

0.8870616164709797

In [17]:
y_validation_rf = RF_model.predict(validation)
r2_validation_rf = r2_score(validation_target, y_validation_rf)
r2_validation_rf

0.1805650483208996

In [18]:
r2_training_rf - r2_validation_rf

0.7064965681500801

# Modelo usando Regresión Lasso

Se entrena y se valida el modelo.

In [19]:
lasso = linear_model.Lasso()
lasso.fit(training, training_target)
y_predicted_lasso = lasso.predict(training)
r2_training_lasso = r2_score(training_target, y_predicted_lasso)
r2_training_lasso

0.060972234147651516

In [20]:
y_validation_lasso = lasso.predict(validation)
r2_validation_lasso = r2_score(validation_target, y_validation_lasso)
r2_validation_lasso

0.10075119269293853

In [21]:
r2_training_lasso - r2_validation_lasso

-0.03977895854528701

# Modelo usando Redes Neuronales con Regresión

In [22]:
training.shape

(1827, 3)

In [23]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = training.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               512

 dense_1 (Dense)             (None, 256)               33024

 dense_2 (Dense)             (None, 256)               65792

 dense_3 (Dense)             (None, 256)               65792

 dense_4 (Dense)             (None, 1)                 257

=================================================================
Total params: 165,377
Trainable params: 165,377
Non-trainable params: 0
_________________________________________________________________

In [24]:
checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]

In [25]:
NN_model.fit(training, training_target, epochs=45, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Epoch 1/45
41/46 [=========================>....] - ETA: 0s - loss: 561.1901 - mean_absolute_error: 561.1901
Epoch 1: val_loss improved from inf to 440.54956, saving model to Weights-001--440.54956.hdf5
46/46 [==============================] - 3s 32ms/step - loss: 549.8618 - mean_absolute_error: 549.8618 - val_loss: 440.5496 - val_mean_absolute_error: 440.5496
Epoch 2/45
44/46 [===========================>..] - ETA: 0s - loss: 460.0733 - mean_absolute_error: 460.0733
Epoch 2: val_loss did not improve from 440.54956
46/46 [==============================] - 1s 12ms/step - loss: 459.4506 - mean_absolute_error: 459.4506 - val_loss: 451.3647 - val_mean_absolute_error: 451.3647
Epoch 3/45
46/46 [==============================] - ETA: 0s - loss: 461.4554 - mean_absolute_error: 461.4554
Epoch 3: val_loss did not improve from 440.54956
46/46 [==============================] - 1s 12ms/step - loss: 461.4554 - mean_absolute_error: 461.4554 - val_loss: 481.2015 - val_mean_absolute_error: 481.2015
Epoch 4/45
46/46 [==============================] - ETA: 0s - loss: 462.8329 - mean_absolute_error: 462.8329
Epoch 4: val_loss improved from 440.54956 to 428.36765, saving model to Weights-004--428.36765.hdf5
46/46 [==============================] - 1s 13ms/step - loss: 462.8329 - mean_absolute_error: 462.8329 - val_loss: 428.3676 - val_mean_absolute_error: 428.3676
Epoch 5/45
42/46 [==========================>...] - ETA: 0s - loss: 463.1323 - mean_absolute_error: 463.1323
Epoch 5: val_loss did not improve from 428.36765
46/46 [==============================] - 0s 11ms/step - loss: 464.4975 - mean_absolute_error: 464.4975 - val_loss: 479.4972 - val_mean_absolute_error: 479.4972
Epoch 6/45
42/46 [==========================>...] - ETA: 0s - loss: 464.1768 - mean_absolute_error: 464.1768
Epoch 6: val_loss did not improve from 428.36765
46/46 [==============================] - 1s 12ms/step - loss: 464.4012 - mean_absolute_error: 464.4012 - val_loss: 456.2119 - val_mean_absolute_error: 456.2119
Epoch 7/45
44/46 [===========================>..] - ETA: 0s - loss: 462.5537 - mean_absolute_error: 462.5537
Epoch 7: val_loss improved from 428.36765 to 408.86786, saving model to Weights-007--408.86786.hdf5
46/46 [==============================] - 1s 12ms/step - loss: 461.8352 - mean_absolute_error: 461.8352 - val_loss: 408.8679 - val_mean_absolute_error: 408.8679
Epoch 8/45
46/46 [==============================] - ETA: 0s - loss: 462.6732 - mean_absolute_error: 462.6732
Epoch 8: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 462.6732 - mean_absolute_error: 462.6732 - val_loss: 576.9645 - val_mean_absolute_error: 576.9645
Epoch 9/45
42/46 [==========================>...] - ETA: 0s - loss: 482.2901 - mean_absolute_error: 482.2901
Epoch 9: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 480.4959 - mean_absolute_error: 480.4959 - val_loss: 446.0729 - val_mean_absolute_error: 446.0729
Epoch 10/45
42/46 [==========================>...] - ETA: 0s - loss: 460.1005 - mean_absolute_error: 460.1005
Epoch 10: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 458.6049 - mean_absolute_error: 458.6049 - val_loss: 430.0553 - val_mean_absolute_error: 430.0553
Epoch 11/45
44/46 [===========================>..] - ETA: 0s - loss: 463.6261 - mean_absolute_error: 463.6261
Epoch 11: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 7ms/step - loss: 464.4877 - mean_absolute_error: 464.4877 - val_loss: 442.5283 - val_mean_absolute_error: 442.5283
Epoch 12/45
44/46 [===========================>..] - ETA: 0s - loss: 459.9624 - mean_absolute_error: 459.9624
Epoch 12: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 461.3223 - mean_absolute_error: 461.3223 - val_loss: 414.8147 - val_mean_absolute_error: 414.8147
Epoch 13/45
37/46 [=======================>......] - ETA: 0s - loss: 456.2845 - mean_absolute_error: 456.2845
Epoch 13: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 8ms/step - loss: 461.3066 - mean_absolute_error: 461.3066 - val_loss: 429.5697 - val_mean_absolute_error: 429.5697
Epoch 14/45
41/46 [=========================>....] - ETA: 0s - loss: 460.8817 - mean_absolute_error: 460.8817
Epoch 14: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 462.6265 - mean_absolute_error: 462.6265 - val_loss: 411.6360 - val_mean_absolute_error: 411.6360
Epoch 15/45
43/46 [===========================>..] - ETA: 0s - loss: 460.8914 - mean_absolute_error: 460.8914
Epoch 15: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 461.9006 - mean_absolute_error: 461.9006 - val_loss: 433.4560 - val_mean_absolute_error: 433.4560
Epoch 16/45
40/46 [=========================>....] - ETA: 0s - loss: 459.7445 - mean_absolute_error: 459.7445
Epoch 16: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 7ms/step - loss: 459.6166 - mean_absolute_error: 459.6166 - val_loss: 419.2626 - val_mean_absolute_error: 419.2626
Epoch 17/45
39/46 [========================>.....] - ETA: 0s - loss: 461.5227 - mean_absolute_error: 461.5227
Epoch 17: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 461.4192 - mean_absolute_error: 461.4192 - val_loss: 416.1730 - val_mean_absolute_error: 416.1730
Epoch 18/45
43/46 [===========================>..] - ETA: 0s - loss: 460.3008 - mean_absolute_error: 460.3008
Epoch 18: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 461.7086 - mean_absolute_error: 461.7086 - val_loss: 420.0809 - val_mean_absolute_error: 420.0809
Epoch 19/45
46/46 [==============================] - ETA: 0s - loss: 458.8754 - mean_absolute_error: 458.8754
Epoch 19: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 458.8754 - mean_absolute_error: 458.8754 - val_loss: 457.1611 - val_mean_absolute_error: 457.1611
Epoch 20/45
43/46 [===========================>..] - ETA: 0s - loss: 460.0198 - mean_absolute_error: 460.0198
Epoch 20: val_loss did not improve from 408.86786
46/46 [==============================] - 0s 6ms/step - loss: 459.3954 - mean_absolute_error: 459.3954 - val_loss: 541.6385 - val_mean_absolute_error: 541.6385
Epoch 21/45
36/46 [======================>.......] - ETA: 0s - loss: 465.3237 - mean_absolute_error: 465.3237
Epoch 21: val_loss improved from 408.86786 to 398.73193, saving model to Weights-021--398.73193.hdf5
46/46 [==============================] - 0s 6ms/step - loss: 465.2251 - mean_absolute_error: 465.2251 - val_loss: 398.7319 - val_mean_absolute_error: 398.7319
Epoch 22/45
45/46 [============================>.] - ETA: 0s - loss: 458.1972 - mean_absolute_error: 458.1972
Epoch 22: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 456.7338 - mean_absolute_error: 456.7338 - val_loss: 422.6436 - val_mean_absolute_error: 422.6436
Epoch 23/45
46/46 [==============================] - ETA: 0s - loss: 459.9961 - mean_absolute_error: 459.9961
Epoch 23: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 459.9961 - mean_absolute_error: 459.9961 - val_loss: 451.8057 - val_mean_absolute_error: 451.8057
Epoch 24/45
44/46 [===========================>..] - ETA: 0s - loss: 461.1699 - mean_absolute_error: 461.1699
Epoch 24: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 462.2920 - mean_absolute_error: 462.2920 - val_loss: 425.2191 - val_mean_absolute_error: 425.2191
Epoch 25/45
43/46 [===========================>..] - ETA: 0s - loss: 468.2102 - mean_absolute_error: 468.2102
Epoch 25: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 7ms/step - loss: 466.9862 - mean_absolute_error: 466.9862 - val_loss: 431.9499 - val_mean_absolute_error: 431.9499
Epoch 26/45
37/46 [=======================>......] - ETA: 0s - loss: 452.4552 - mean_absolute_error: 452.4552
Epoch 26: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 5ms/step - loss: 458.1107 - mean_absolute_error: 458.1107 - val_loss: 407.3381 - val_mean_absolute_error: 407.3381
Epoch 27/45
45/46 [============================>.] - ETA: 0s - loss: 457.3392 - mean_absolute_error: 457.3392
Epoch 27: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 457.4254 - mean_absolute_error: 457.4254 - val_loss: 407.8069 - val_mean_absolute_error: 407.8069
Epoch 28/45
42/46 [==========================>...] - ETA: 0s - loss: 453.5217 - mean_absolute_error: 453.5217
Epoch 28: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 456.9726 - mean_absolute_error: 456.9726 - val_loss: 449.9919 - val_mean_absolute_error: 449.9919
Epoch 29/45
43/46 [===========================>..] - ETA: 0s - loss: 459.1014 - mean_absolute_error: 459.1014
Epoch 29: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 455.9893 - mean_absolute_error: 455.9893 - val_loss: 443.5351 - val_mean_absolute_error: 443.5351
Epoch 30/45
40/46 [=========================>....] - ETA: 0s - loss: 458.5296 - mean_absolute_error: 458.5296
Epoch 30: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 6ms/step - loss: 458.9656 - mean_absolute_error: 458.9656 - val_loss: 495.9942 - val_mean_absolute_error: 495.9942
Epoch 31/45
39/46 [========================>.....] - ETA: 0s - loss: 453.4749 - mean_absolute_error: 453.4749
Epoch 31: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 5ms/step - loss: 455.3865 - mean_absolute_error: 455.3865 - val_loss: 405.5380 - val_mean_absolute_error: 405.5380
Epoch 32/45
43/46 [===========================>..] - ETA: 0s - loss: 450.9860 - mean_absolute_error: 450.9860
Epoch 32: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 5ms/step - loss: 453.2476 - mean_absolute_error: 453.2476 - val_loss: 439.6287 - val_mean_absolute_error: 439.6287
Epoch 33/45
41/46 [=========================>....] - ETA: 0s - loss: 457.7831 - mean_absolute_error: 457.7831
Epoch 33: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 5ms/step - loss: 458.9735 - mean_absolute_error: 458.9735 - val_loss: 456.0117 - val_mean_absolute_error: 456.0117
Epoch 34/45
42/46 [==========================>...] - ETA: 0s - loss: 457.4690 - mean_absolute_error: 457.4690
Epoch 34: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 5ms/step - loss: 458.2737 - mean_absolute_error: 458.2737 - val_loss: 406.1029 - val_mean_absolute_error: 406.1029
Epoch 35/45
40/46 [=========================>....] - ETA: 0s - loss: 453.0755 - mean_absolute_error: 453.0755
Epoch 35: val_loss did not improve from 398.73193
46/46 [==============================] - 0s 7ms/step - loss: 455.2332 - mean_absolute_error: 455.2332 - val_loss: 411.3641 - val_mean_absolute_error: 411.3641
Epoch 36/45
46/46 [==============================] - ETA: 0s - loss: 455.5984 - mean_absolute_error: 455.5984
Epoch 36: val_loss improved from 398.73193 to 396.22794, saving model to Weights-036--396.22794.hdf5
46/46 [==============================] - 0s 8ms/step - loss: 455.5984 - mean_absolute_error: 455.5984 - val_loss: 396.2279 - val_mean_absolute_error: 396.2279
Epoch 37/45
35/46 [=====================>........] - ETA: 0s - loss: 453.2599 - mean_absolute_error: 453.2599
Epoch 37: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 6ms/step - loss: 456.0457 - mean_absolute_error: 456.0457 - val_loss: 432.8254 - val_mean_absolute_error: 432.8254
Epoch 38/45
41/46 [=========================>....] - ETA: 0s - loss: 451.4905 - mean_absolute_error: 451.4905
Epoch 38: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 7ms/step - loss: 452.8377 - mean_absolute_error: 452.8377 - val_loss: 438.1965 - val_mean_absolute_error: 438.1965
Epoch 39/45
45/46 [============================>.] - ETA: 0s - loss: 458.8952 - mean_absolute_error: 458.8952
Epoch 39: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 7ms/step - loss: 456.8652 - mean_absolute_error: 456.8652 - val_loss: 425.2064 - val_mean_absolute_error: 425.2064
Epoch 40/45
40/46 [=========================>....] - ETA: 0s - loss: 458.4286 - mean_absolute_error: 458.4286
Epoch 40: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 6ms/step - loss: 460.8981 - mean_absolute_error: 460.8981 - val_loss: 458.7197 - val_mean_absolute_error: 458.7197
Epoch 41/45
37/46 [=======================>......] - ETA: 0s - loss: 456.0460 - mean_absolute_error: 456.0460
Epoch 41: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 5ms/step - loss: 457.2038 - mean_absolute_error: 457.2038 - val_loss: 427.6554 - val_mean_absolute_error: 427.6554
Epoch 42/45
40/46 [=========================>....] - ETA: 0s - loss: 458.3446 - mean_absolute_error: 458.3446
Epoch 42: val_loss did not improve from 396.22794
46/46 [==============================] - 0s 5ms/step - loss: 456.3206 - mean_absolute_error: 456.3206 - val_loss: 460.2754 - val_mean_absolute_error: 460.2754
Epoch 43/45
41/46 [=========================>....] - ETA: 0s - loss: 451.5636 - mean_absolute_error: 451.5636
Epoch 43: val_loss improved from 396.22794 to 392.80679, saving model to Weights-043--392.80679.hdf5
46/46 [==============================] - 0s 5ms/step - loss: 453.1333 - mean_absolute_error: 453.1333 - val_loss: 392.8068 - val_mean_absolute_error: 392.8068
Epoch 44/45
41/46 [=========================>....] - ETA: 0s - loss: 451.3586 - mean_absolute_error: 451.3586
Epoch 44: val_loss did not improve from 392.80679
46/46 [==============================] - 0s 5ms/step - loss: 454.2293 - mean_absolute_error: 454.2293 - val_loss: 521.8157 - val_mean_absolute_error: 521.8157
Epoch 45/45
42/46 [==========================>...] - ETA: 0s - loss: 450.4798 - mean_absolute_error: 450.4798
Epoch 45: val_loss did not improve from 392.80679
46/46 [==============================] - 0s 5ms/step - loss: 452.6015 - mean_absolute_error: 452.6015 - val_loss: 429.2943 - val_mean_absolute_error: 429.2943

In [27]:
# Load wights file of the best model :
wights_file = 'Weights-043--392.80679.hdf5' # choose the best checkpoint 
NN_model.load_weights(wights_file) # load it
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])

In [28]:
y_predicted_nn = NN_model.predict(training)
r2_training_nn = r2_score(training_target, y_predicted_nn)
r2_training_nn

0.02933669984218623

In [29]:
y_validation_nn = NN_model.predict(validation)
r2_validation_nn = r2_score(validation_target, y_validation_nn)
r2_validation_nn

-0.07003240114827403

In [30]:
r2_training_nn-r2_validation_nn

0.09936910099046026

# Modelo Ganador

Se escogio el modelo que usa Redes Neuronales con Regresión

Se hacen las predicciones para antes del 2017 y para el 2018

In [44]:
y_predicted_2012_2017_nn = NN_model.predict(predict_2012_2017)
df_2012_2017['Prediccion_NN'] = y_predicted_2012_2017_nn
df_2012_2017

          Fecha  Prediccion_NN
0    2012-01-01     732.432495
1    2012-01-02     737.939087
2    2012-01-03     743.673706
3    2012-01-04     749.709473
4    2012-01-05     755.876709
...         ...            ...
2187 2017-12-27     958.589844
2188 2017-12-28     965.412048
2189 2017-12-29     972.234253
2190 2017-12-30     979.056335
2191 2017-12-31     985.878601

[2192 rows x 2 columns]

Los valores para el 2018 con este modelo:

In [46]:
y_predicted_2018_nn = NN_model.predict(predict_2018)
df_2018['Prediccion_NN'] = y_predicted_2018_nn
df_2018

         Fecha  Prediccion_NN
0   2018-01-01     734.587585
1   2018-01-02     740.092346
2   2018-01-03     745.827026
3   2018-01-04     751.857666
4   2018-01-05     758.024963
..         ...            ...
176 2018-06-26     923.908752
177 2018-06-27     930.730896
178 2018-06-28     937.553040
179 2018-06-29     944.375183
180 2018-06-30     951.197449

[181 rows x 2 columns]

Se exportan los datos a los archivos predict_2018.csv y predict_2012_2017.csv

In [47]:
df_2018.to_csv('predict_2018.csv', index=False)
df_2012_2017.to_csv('predict_2012_2017.csv', index=False)